<header>
  <div class="header-stuff">
    <a href="<%= baseUrl %>/"><img class="logo" src="<%= baseUrl %>/img/logo.png" alt="Website Logo" /></a>
    <a href="<%= baseUrl %>/"><h1 id="title">GWA Calculator</h1></a>
  </div>
  <div class="header-stuff">
    <ul>
      <a href="<%= baseUrl %>/">Home</a>
      <a href="<%= baseUrl %>/about.html">About</a>
    </ul>
  </div>
</header>
